* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid black; */
}

body {
  font-family: "Cormorant Garamond", serif;
  background-color: #fef9f3;
  color: #4a3b2f;
  width: 98vw;
}

.container {
  display: grid;
  grid-template-rows:
    max-content minmax(15%, 1fr) max-content minmax(15%, 1fr)
    fit-content max-content;
  row-gap: 80px;
  font-family: "Cormorant Garamond", cursive;
  height: 100%;
  color: #4e3629;
  /* background-color: #3e2723; */
  background-color: #f1ece3;
}

nav {
  position: sticky;
  top: 0;
  height: fit-content;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 10px 0;
  /* border-bottom: 2px solid #c4b7a682; */
}
.links {
  margin-left: auto;
}
ul,
ul a {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Cormorant Garamond", serif;
  /* color: #4e3629; */
  padding: 10px 15px;
  transition: all 0.3s ease;
  color: #4a3b2f;
  font-weight: 700;
}
ul a:hover {
  color: #a67c52;
  border-bottom: 1px solid #a67c52;
}

.header {
  align-self: center;
  margin: 0 auto;
  text-align: center;
  background-color: #fef9f3;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #c4b7a6;
}

.header h1 {
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
  color: #a67c52;
  font-size: 4em;
}

.header p {
  color: #4a3b2f;
  font-size: 1.5em;
  font-style: italic;
}

.header h1 {
  font-family: "Great Vibes", cursive;
  font-size: 3em;
  color: #a67c52; /* Antique gold */
  margin-bottom: 0;
}

.header p {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2em;
  color: #4a3b2f;
}

.search-categories {
  display: grid;
  grid-template-rows: 1fr 1fr;

  gap: 10px;
  margin: 0 auto;
}

.search-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #c4b7a6;
  background-color: #fef9f3;
  font-family: "Cormorant Garamond", serif;
  color: #4a3b2f;
}

.hidden {
  display: none !important;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  background-color: #fdfaf5;
  padding: 20px;
  border: 2px solid #deb379;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.search-result {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #e6dacb;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.search-result:hover {
  background-color: #fef9f3;
  transform: scale(1.02);
  cursor: pointer;
}

.search-result h3 {
  margin: 0 0 5px;
  font-size: 1.2em;
  color: #5c3d25;
}

.search-result h4 {
  margin: 5px 0 0;
  font-weight: normal;
  color: #8a6e52;
}

.search-result p {
  margin: 0;
  font-size: 0.95em;
  color: #6e5844;
}

.categories button {
  background-color: #a67c52;
  color: #fef9f3;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-family: "Cormorant Garamond", serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.categories button:hover {
  background-color: #4a3b2f;
}

.poetry-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, 1fr));
  padding: 0 20px;
  column-gap: 40px;
  row-gap: 20px;
  width: 100%;
}

.poem-card {
  background-color: #fffef9;
  border: 1px solid #c4b7a6;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.65rem;
  width: 100%;
}

.poem-card h3 {
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
}

.poem-card:hover {
  transform: scale(1.02);
}

.poem-card h3:hover {
  color: #a67c52;
  padding-bottom: 5px;
  border-bottom: 1px solid #a67c52;
  padding-bottom: 5px;
  cursor: pointer;
}

.poem-card h3 a {
  color: #4a3b2f;
  text-decoration: none;
}

.poem-card p {
  font-size: 1em;
  color: #4a3b2f;
  font-style: italic;
}

.poem-card h4 {
  justify-self: flex-end;
  align-self: flex-end;
  padding-top: 10px;
}

.poem-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.poem-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.poem-content h3 {
  text-align: center;
  margin-bottom: 10px;
}
dialog {
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: auto auto;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.poem-buttons button {
  width: 100px;
}

#showDialog,
.poem-buttons button {
  padding: 5px;
  width: 150px;
  height: fit-content;
  margin: 30px auto;
  border-radius: 10px;
  border: none;
  background-color: #a67c52;
  color: #faebd7;
  align-self: flex-end;
}

.footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #c4b7a6;
  font-family: "Cormorant Garamond", serif;
  color: #4a3b2f;
  background-color: #fef9f3;
  max-height: 150px;
}

/* Responsive Design*/

/* Mobile Devices */
@media (max-width: 480px) {
  body {
    width: 100vw;
  }
  .container {
    width: 100vw;
    background-color: #f1ece3;
  }

  .nav ul {
    background-color: rgba(255, 255, 255, 0.35);
  }
  .nav ul li {
    font-size: larger;
  }

  .poetry-list {
    display: grid;
    grid-template-columns: repeat(1, minmax(25%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(fit-content, 1fr));

    gap: 0.5rem;
  }

  .poem-card p {
    font-size: 1em;
    color: #4a3b2f;
    font-style: italic;
  }

  #showDialog {
    display: none;
  }
}
