* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid black; */
}

body {
  font-family: "Cormorant Garamond", serif;
  /* background-color: #fef9f3; */

  color: #4a3b2f;
  width: 100vw;
}

.container {
  display: grid;
  grid-template-rows: max-content repeat(3, minmax(15%, 1fr)) max-content;
  gap: 10px;
  font-family: "Cormorant Garamond", cursive;
  height: 100%;
  width: 100vw;

  color: #4e3629;
  /* background-color: #3e2723; */
  /* background-color: #faebd7; */
  background-color: #f1ece3;
}

.nav {
  position: sticky;
  top: 0;
  height: fit-content;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 10px 0;
  /* border-bottom: 2px solid #c4b7a682; */
}
.links {
  margin-left: auto;
}
ul,
ul a {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Cormorant Garamond", serif;
  /* color: #4e3629; */
  padding: 10px 15px;
  transition: all 0.3s ease;
  color: #4a3b2f;
  font-weight: 700;
}
ul a:hover {
  color: #a67c52;
  border-bottom: 1px solid #a67c52;
}

.header {
  align-self: center;
  margin: 0 auto;
  text-align: center;
  background-color: #fef9f3;
  width: 100%;
  padding: 40px 0;
  border-bottom: 1px solid #c4b7a6;
}

.header h1 {
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
  color: #a67c52;
  font-size: 4em;
}

.header p {
  color: #4a3b2f;
  font-size: 1.5em;
  font-style: italic;
}

.intro-quote {
  padding: 27px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  margin: 20px;
}

.intro-quote .intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.intro-quote .fav-quote {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  border: 1px solid #c4b7a6;
  padding: 20px;
  background-color: #fef9f3;
  font-style: italic;
  font-size: 1.2em;
  color: #4a3b2f;
}

.fav-quote h3,
.fav-quote p {
  text-align: center;
}

.fav-quote p {
  font-style: italic;
  font-size: 1.2em;
  color: #4a3b2f;
}
.featured-poems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* background-color: #a7918aaf; */
  /* background-color: #a7918a4f; */
  background-color: #fef9f3;
}

.poem-card {
  background: url("assets/images/parchment.png") no-repeat center center;
  background-size: contain;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #f1ece3;
  background-blend-mode: multiply;
  border: 1px solid #c4b7a6;
  color: #4e3629;
  padding: 20px;
  width: 300px;
  margin: 10px;
  height: fit-content;
  text-align: center;
}

.poem-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(166, 124, 82, 0.4);
}

.poem-card h3 {
  font-family: "Great Vibes", cursive;
  font-size: 24px;
  color: #a67c52;
}

.poem-card a {
  text-decoration: none;
  color: #4e3629;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.items h1 {
  font-size: 60px;
  color: #34495e;
  text-align: center;
  font-family: "Great Vibes", cursive;
  padding: 30px;
  margin: 0 auto;
}
.items-h {
  display: flex;
  align-items: center;
  padding: 10px;
}
.items-h h1 {
  font-size: 60px;
  color: #34495e;
  text-align: center;
  font-family: "Great Vibes", cursive;
  padding: 30px;
  margin: 0 auto;
  border-bottom: 2px solid #34495e;
  width: 80%;
}
.items-h a {
  text-decoration: none;
  color: #34495e;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(50, 67, 107, 0.1);
  border-radius: 5px;
}
.items h2 {
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #c4b7a6;
  font-family: "Cormorant Garamond", serif;
  color: #4a3b2f;
  background-color: #fef9f3;
}

/* Responsive Design*/

/* Mobile Devices */
@media (max-width: 480px) {
  body {
    width: 100vw;
  }
  .container {
    width: 100vw;
    background-color: #f1ece3;
  }

  .poetry-list.poem-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
