* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid black; */
}

body {
  font-family: "Cormorant Garamond", serif;
  background: url("assets/images/parchment.jpg") no-repeat center center fixed;
  background-size: cover;
  /* color: #4e3629; */
  color: #34495e;
  background-color: #faebd7;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /* background-color: #3e2723; */
  background-color: #34495e;
}
.links {
  margin-left: auto;
}
ul,
ul a {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0 5px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
ul a:hover {
  /* background-color: #4e3629; */
  background-color: #3b6186;
  border-radius: 5px;
}

header {
  text-align: center;
  padding: 50px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* border-bottom: 2px solid #4e3629; */
  border-bottom: 2px solid #34495e;
  background-color: #faebd7;
}

header h1 {
  font-family: "Great Vibes", cursive;
  font-size: 60px;
  /* color: #3e2723; */
  color: #34495e;
}

header p {
  font-size: 20px;
  font-style: italic;
  /* color: #5e3a3a; */
  color: #34495e;
}

section {
  margin: 20px;
}

.featured-poems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.poem-card {
  background: url("assets/images/scroll.png") no-repeat center center;
  background-size: contain;
  padding: 20px;
  width: 300px;
  margin: 10px;
  /* color: #4e3629; */
  color: #34495e;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.poem-card:hover {
  transform: scale(1.05);
}

.poem-card h3 {
  font-family: "Great Vibes", cursive;
  font-size: 24px;
}

.poem-card a {
  text-decoration: none;
  color: #4e3629;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.items h1 {
  font-size: 60px;
  color: #34495e;
  text-align: center;
  font-family: "Great Vibes", cursive;
  padding: 30px;
  margin: 0 auto;
}
.items-h {
  display: flex;
  align-items: center;
  padding: 10px;
}
.items-h h1 {
  font-size: 60px;
  color: #34495e;
  text-align: center;
  font-family: "Great Vibes", cursive;
  padding: 30px;
  margin: 0 auto;
  border-bottom: 2px solid #34495e;
  width: 80%;
}
.items-h a {
  text-decoration: none;
  color: #34495e;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px rgba(50, 67, 107, 0.1);
  border-radius: 5px;
}
.items h2 {
  font-family: "Great Vibes", cursive;
  text-align: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

.items footer,
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  /* background-color: #3e2723; */
  background-color: #34495e;
  color: #fff;
}
