<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cormorant+Garamond:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="archive-style.css" />
    <title><%=user.username%> poetry archive</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </nav>

      <div class="header">
        <h1>Poetry Archive</h1>
        <p>A collection of timeless verses</p>
      </div>

      <div class="search-categories">
        <div class="search-container">
          <form action="/search" method="GET">
            <input
              type="text"
              name="search"
              placeholder="Search your poems by titles"
              required
            />
            <!-- <button type="submit">search</button> -->
          </form>
        </div>

        <!-- Categories (Optional) -->
        <div class="categories">
          <button data-filter="all">All</button>
          <button data-filter="love">Love</button>
          <button data-filter="nature">Nature</button>
          <button data-filter="reflection">Reflection</button>
        </div>
      </div>

      <div class="poetry_list">
        <% if(poems.length > 0) {%>
        <ul>
          <%poems.forEach((poem) => {%>
          <li>
            <div class="poem-card">
              <h3><a href="/details"><%=poem.title%></a></h3>
              <p><%=poem.genre%></p>
              <p><%=poem.timestamp%></p>
            </div>
          </li>
          <%})%>
        </ul>

        <%}else {%>
        <p>No poems yet.</p>
        <%}%>
      </div>

      <footer class="footer">
        <p>&copy; 2025 Poet's Corner. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
