<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Log in</h1>
    <form action="/login" method="POST">
      <div class="label-input">
        <label for="username">Enter your username: </label>
        <input type="text" id="username" name="username" required />
      </div>
      <div class="label-input">
        <label for="password">Enter your password: </label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Log in</button>
    </form>
    <div>
      <p>Don't have an account? <a href="./signup.ejs">sign up here</a>!</p>
    </div>
  </body>
</html>
